{{#each posts}}
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <a href="http://localhost:3000/readPostView/{{this.rowid}}">{{this.title}} (by:{{this.author}})</a>
            <div>{{this.date}}</div>
        </div>
    </div>
</div>
{{/each}}