{{#each posts}}
    <div class="jumbotron m-3">
        <div class="d-flex justify-content-between"><p>{{this.author}}</p> <p>{{this.date}}</p></div>
        <h2>{{this.title}}</h2>
        <p class="lead">{{this.content}}</p>
    </div>
{{/each}}