<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="jumbotron col-6">
            <p class="lead">Here you can add a new path of the database</p>
            <p>Current path: {{dbPath}}</p>
            <hr class="my-4">
            <form>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>