<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-right pt-2">
            <a class="pt-2" href="/logout">logout</a>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-auto text-center">
            <img src="edit.png" alt="edit"> <br>
                <a href="/new-post">New post</a><br>
                <a href="/admin-post-List">List posts</a>
        </div>
    </div>
</div>