
{{#if editor}} 
    {{>edit_post}} 
{{else}} 
    {{>new_post}} 
{{/if}}

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Biztos, hogy megszakítja a folyamatot?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
        <a class='btn btn-primary'{{#if editor}} href="/admin-post-list" {{else}} href="/admin" {{/if}}> Megszakítás </a>
      </div>
    </div>
  </div>
</div>

<script>

function formCheck() {

    if(!document.getElementById('slug').value){
        document.getElementById('slug').value = document.getElementById('slug').placeholder
    }

    let title = document.getElementById('title').value
    let content = document.getElementById('content').value
    let slug = document.getElementById('slug').value

        let errorMessage = document.getElementById('errorMsg')
        errorMessage.innerText = ''

        if (!title || !slug || !content) {

            if (!title) {
                errorMessage.innerText = 'Title '
            }

            if (!slug) {
                if (errorMessage.innerText) {
                    errorMessage.innerText += ' and slug '
                } else {
                    errorMessage.innerText = 'Slug'
                }
            }

            if (!content) {
                if (errorMessage.innerText) {
                    errorMessage.innerText += ' and content '
                } else {
                    errorMessage.innerText = 'Content'
                }
            }

            if (1) {
                errorMessage.innerText += ' are required '
            } else {
                errorMessage.innerText += 'is required'
            }
            event.preventDefault();
            
            return false
        }
    }

function string_to_slug (str) {
    str = str.replace(/^\s+|\s+$/g, '');
    str = str.toLowerCase();

    var from = "àáäâèéëêìíïîòóöőùúüûñç·/_,:;";
    var to   = "aaaaeeeeiiiioooouuuunc------";
    for (var i=0, l=from.length ; i<l ; i++) {
        str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
    }

    str = str.replace(/[^a-z0-9 -]/g, '') 
        .replace(/\s+/g, '-') 
        .replace(/-+/g, '-'); 

    return str;
}

function slugGenerator(){
        let title = document.getElementById("title").value
        console.log(title)
        let slug = string_to_slug(title)
        document.getElementById('slug').placeholder = slug
    }

    document.getElementById("title").addEventListener("keyup", slugGenerator);



    
</script>