<div class="container w-50 p-4 mt-4 border">
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="user" name="user">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button><br>
    {{#if error}} <div style="color: red;" class="mt-2">{{error}}</div> {{/if}}
    {{#if logOutMessage}} <div style="color: green;" class="mt-2">{{logOutMessage}}</div> {{/if}}
  </form>
</div>