<div class="container">
    <div class="row justify-content-md-center border">
        <div class="col-8 ">
            <div class="row justify-content-md-center">
                <h1 class="col-6">New Post view</h1>
            </div>
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="title" class="form-control" id="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <div style="height: 100px;" id="editor"></div>
                </div>
            </form>
            <div class="container">
                <div class="row">
                    <button onclick="discard()">Discard</button>
                    <button onclick="submit()">Publish</button>
                </div>
                <div>{{#if error}}{{error}}{{/if}}</div>
                <div class="row" style="color: red;" id="errorMsg"></div>
            </div>



        </div>
    </div>
</div>

<script>

let toolbarOptions = ['bold', 'italic', 'underline', 'strike'];

let options = {
  debug: 'info',
  modules: {
    toolbar: toolbarOptions 
  },
  placeholder: 'Írj valami szépet...',
  readOnly: false,
  theme: 'snow'
};
let editor = new Quill('#editor', options);


    function discard() {
        window.location.pathname = '/admin'
    }

    function submit() {





        let title = document.getElementById('title').value
        let content = editor.root.innerHTML
        console.log(title, content)

      if (formCheck(title, content)) {
            fetch(('/newPost'), {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ title: title, content: content })
            }).then(res =>  window.location = res.url)
        }

    }

    function formCheck(title, content) {
        errorMessage = document.getElementById('errorMsg')

        if (!title) {
            errorMessage.innerText = 'Title is required!'
            return false
        }

        if (content == '<p><br></p>') {
            errorMessage.innerText = 'Content is required!'
            return false
        }
        return true
    }
</script>